@page "/"

@using Blazor_ChartJsZO;
@using test.Data

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@*<button class="btn btn-primary" @onclick="ChartRandom">ChartRandom</button>*@
@*<div class =col-6>
    <p>-----------------------</p>
<ChartJsZO ChartDate=@ChartDate2></ChartJsZO>

</div>

<div class =col-6>
    <p>//////////////////////////////////</p>
<ChartJsZO ChartDate=@ChartDate></ChartJsZO>

</div>*@


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    //private void ChartRandom()
    //{
       
    //    ChartDate = new ChartPrimitive
    //        {

    //            ModelChart = ModelChartEnumZo.pie,
    //            Data = new DataChartZo
    //            {
    //                Datasets = new DatasetsChartZo[]
    //                        {
    //                            new DatasetsChartZo
    //                            {
    //                                Data = new DataTest().DataForMonth,
    //                                Label = "Test chart One",
    //                                RandomColor = true,

    //                            }


    //                        },
    //                Labels = DataTest.LabelMonth
    //            }

    //        };

    //         ChartDate2 = new ChartPrimitive
    //        {
               
    //            ModelChart = ModelChartEnumZo.line,
    //            Data = new DataChartZo
    //            {
    //                Datasets = new DatasetsChartZo[]
    //                    {
    //             new DatasetsChartZo
    //             {
    //                 Data =new DataTest().DataForMonth,
    //                 Label = "Test chart One",
    //                 RandomColor =true,

    //             },
    //               new DatasetsChartZo
    //             {
    //                 Data =new DataTest().DataForMonth,
    //                 Label = "Test chart Tow",
    //                 RandomColor =true,

    //             }


    //                    },
    //                Labels = DataTest.LabelMonth
    //            }

    //        };


    //    StateHasChanged();
    //}


    //ChartPrimitive ChartDate; /*= new KianDataChart*/
    //ChartPrimitive ChartDate2; /*= new KianDataChart*/


}
