@page "/Bubble"
@using ChartJsStructure.Hellper
@using ChartJsStructure.Hellper.Color

<div class="container-fluid">
    <div class="row">
        <div class=" col-md-10 col-sm-12">
            <ChartJsZO @ref="@_bubbleChart"></ChartJsZO>
        </div>
    </div>
</div>


@code {
    ChartJsZO _bubbleChart;

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;

        _bubbleChart.InitChart(new ConfigChart
        {
            Type = TypChart.bubble,
                Options = new Options
                {
                    Responsive = true,
                    Plugins = new Plugins
                    {
                        Legend = new Legend
                        {
                            Position = Position.top
                        }
                    }
                }
        });
        List<Dataset> data1 = new List<Dataset>();
        data1.Add(new Dataset
            {
                Data = new TestData().DataForMonth,
                Label = "bubble chart",
                BackgroundColor = new string[] {ColorChartZo.yellow()},
                BorderColor = new string[] { ColorChartZo.red() }
            });
        _bubbleChart.UpdateDataChart(new DataChart
            {
                Datasets = data1,
                Labels = new TestData().LabelMonth
            });
    }
}
