@page "/"

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <img  src="/css/chartjs-logo.svg"/>
        </div>
    </div>
    <div class="row">
        <h5>Chart.js for Blazor WASB and server</h5>
        <h5>This project includes all the things that may be needed.</h5>
        <h5>Types of charts, events to return data, added data and dataSet in chart</h5>
    </div>
</div>