@page "/persian"

<h3>MapPersian</h3>

    <PersianMapZO @ref=persian />

@code {
    PersianMapZO persian;
   
    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        List<ValueMap> map = new List<ValueMap>();

        for (byte i = 1; i < 33; i++)
        {
            map.Add(new ValueMap {
                    CodMapChart = i,
                    Value = i*1000
                });
        }
        persian.InitChartMap(map);
    }
}
