@page "/persian"

<h3>@_evnt.Value</h3>
<h3>@_evnt.ProvinceName</h3>
<h3>@_evnt.CodMapChart</h3>

<PersianMapZO ChartClick="@ChartClick" @ref=persian />

@code {
    PersianMapZO persian;
    ValueMapEvent _evnt = new ValueMapEvent();

    private void ChartClick(ValueMapEvent argo)
    {
        _evnt = argo;
    }
    
    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        List<ValueMap> map = new List<ValueMap>();

        for (byte i = 1; i < 33; i++)
        {
            map.Add(new ValueMap {
                    CodMapChart = i,
                    Value = i*1000
                });
        }
        persian.InitChartMap(map);
    }
}
