@page "/LineChart"


<h3>Line Chart</h3>
<h3>Select Value @_selectChart</h3>
<h3>___________________________________________________</h3>
<button class="btn btn-primary" @onclick="DatasetAdd">Add Dataset</button>
<button class="btn btn-primary" @onclick="AddData">Add Data</button>
<button class="btn btn-primary" @onclick="UpdateLabel">Update Label</button>
<button class="btn btn-primary" @onclick="UpdateType">Update Type</button>
<button class="btn btn-primary" @onclick="UpdateData">Update Data</button>
<button class="btn btn-primary" @onclick="UpdateDataChart">UpdateData Chart</button>
<button class="btn btn-primary" @onclick="AddDataToDetaset">Add Data To Detaset</button>
<ChartJsZO  @ref=@childChart ChartClick=@ClickChart />

@code {

    string _selectChart="NON";
    void ClickChart(EventClickChart argo)
    {
        _selectChart = argo.LabelsData;
    }
    ChartJsZO childChart;

    void AddDataToDetaset(){
        childChart.AddDataToDetaset(new[] { "100", "250", "300", "50", "200" }, 0);
    }

    void UpdateLabel(){
        childChart.UpdateLabel((new[] { "1", "2", "3", "4", "5" }).ToList());
    }
    void UpdateType()
    {
        childChart.UpdateType(TypChart.bar);
    }
    void UpdateDataChart()
    {
            List<Dataset> data = new List<Dataset>();
           data.Add(new Dataset
            {
                Data = new DataTest().DataForMonth,
                Label = "Test chart One",
                RandomColor = true,


            });
           data.Add(new Dataset
            {
                Data = new DataTest().DataForMonth,
                                        Label = "Test chart Tow",
                                        BorderColor = new[] { ColorChartZo.red() } ,
                                        BackgroundColor =new[] { ColorChartZo.blue(1) },
                                        BorderWidth =2


            });
            
            data.Add(new Dataset
            {
                Data = new DataTest().DataForMonth,
                                        Label = "Test chart 3",
                                        BorderColor = new[] { ColorChartZo.red() } ,
                                        BackgroundColor =new[] { ColorChartZo.blue(1) },
                                        BorderWidth =2


            });
            
            data.Add(new Dataset
            {
                Data = new DataTest().DataForMonth,
                                        Label = "Test chart 4",
                                        BorderColor = new[] { ColorChartZo.red() } ,
                                        BackgroundColor =new[] { ColorChartZo.blue(1) },
                                        BorderWidth =2


            });
        childChart.UpdateDataChart(new DataChart{
                Labels = new DataTest().LabelMonth,
                Datasets = data
        });
    }

    void DatasetAdd()
    {
        childChart.AddDetaset(new Dataset
            {
                Data =new DataTest().DataForMonth, 
                Label = "Test chart One",
                RandomColor = true,


            });
    }
    void UpdateData()
    {
        childChart.UpdateDetaset(new Dataset
            {
                Data = new DataTest().DataForMonth,
                Label = "Test chart One",
                RandomColor = true,


            },0);
    }

    void AddData()
    {
        //var data = childChart.ChartConfig.Data;
        //var set = data.Datasets[0];
        //if (data == null) return;
        //var rnd = (new Random().Next(0,500)).ToString();
        //set.Data.Add(rnd);
        //if(data.Labels.Count() <= set.Data.Count())
        //{
        //    data.Labels.Add(rnd);
        //}
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        childChart.InitChart(new ConfigChart
            {
                Type = TypChart.line,
                Options = new Options
                {
                    Responsive = true,
                }
            });

 
        //    List<Dataset> data = new List<Dataset>();
        //   data.Add(new Dataset
        //    {
        //        Data = new DataTest().DataForMonth,
        //        Label = "Test chart One",
        //        RandomColor = true,


        //    });
        //   data.Add(new Dataset
        //    {
        //        Data = new DataTest().DataForMonth,
        //                                Label = "Test chart Tow",
        //                                BorderColor = new[] { ColorChartZo.red() } ,
        //                                BackgroundColor =new[] { ColorChartZo.blue(1) },
        //                                BorderWidth =2


        //    });
        //_configChart.Data  = new DataChart
        //{
        //    Labels =new DataTest().LabelMonth,
        //    Datasets = data
            
        //};

        
         
   
           
       
   
        
    }

}
