@page "/MultiAxisLineChart"

<h3>Multi Axis Line Chart</h3>

@*<ChartJsZO ChartDate=@ChartDate></ChartJsZO>*@

@code {

    //ChartPrimitive ChartDate;

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    if (!firstRender) return;
    //    ChartDate = new ChartPrimitive
    //        {

    //            ModelChart = ModelChartEnumZo.line,
    //            Data = new DataChartZo
    //            {
    //                Datasets = new DatasetsChartZo[]
    //                            {
    //                                new DatasetsChartZo
    //                                {
    //                                    Data = new DataTest().DataForMonth,
    //                                    Label = "Test chart One",
    //                                    RandomColor = true,


    //                                }
    //                                ,
    //                                new DatasetsChartZo
    //                                {
    //                                    Data = new DataTest().DataForMonth,
    //                                    Label = "Test chart Tow",
    //                                    BorderColor = new[] { ColorChartZo.red() } ,
    //                                    BackgroundColor =new[] { ColorChartZo.blue(1) },
    //                                    BorderWidth =2


    //                                }


    //                            },
    //                Labels = DataTest.LabelMonth
    //            },
    //            Options = new OptionsChart
    //            {
    //                Responsive = true,
    //                Interaction = new OptionInteraction
    //                {
    //                    mode ="index",
    //                    Intersect =false
    //                },
    //                Stacked =false,
    //                Plugins =new OptionsPlugins
    //                {
    //                    Title = new OptionTitle
    //                    {
    //                        Display =true,
    //                        Text ="test .................. tt"
    //                    }
    //                },
    //                //Scales =new OptionsScales
    //                //{
                        
    //                //}
                  
    //            }

    //        };
    //         StateHasChanged();
    //}

}