<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">test</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="()=>LineCharts = !LineCharts" >
                <span class="oi oi-plus" aria-hidden="true"></span> Line Charts
            </NavLink>
            @if (LineCharts)
            {
                <NavLink class="expand-menu" href="InterpolationModes">
            <span>Interpolation Modes</span>
        </NavLink>
        <NavLink class="" href="LineChart">
            <span>Line Chart</span>
        </NavLink> 
         <NavLink class="" href="MultiAxisLineChart">
            <span>Multi Axis Line Chart</span>
        </NavLink> 

            }
           
        </div>
       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    bool LineCharts;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
